<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soa="http://www.e-chinalife.com/soa/"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client" xmlns:dasc="http://www.halo.com/schema/dasc"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd
       http://cxf.apache.org/jaxrs
       http://cxf.apache.org/schemas/jaxrs.xsd
       http://cxf.apache.org/jaxrs-client
       http://cxf.apache.org/schemas/jaxrs-client.xsd
       http://www.halo.com/schema/dasc
       http://www.halo.com/schema/dasc/dasc.xsd
       ">

	<description>orbps-service-app</description>

	<!-- ///////////////////////////服务发布区域////////////////////////// -->

	<!-- 发布cxf的soapService -->
	<!--银行转账功能 -->
	<!-- <jaxrs:server beanNames="bankTransferService" address="/${ws.protocol.rest.path}/bankTransferService"> 
		<jaxrs:providers> <bean class="com.halo.core.fastjson.support.FastJsonProvider"/> 
		</jaxrs:providers> </jaxrs:server> -->

	<!-- <jaxws:client id="SalesInfoQueryServiceClient" serviceClass="com.newcore.orbps.service.api.SalesInfoQueryService" 
		address="http://10.31.22.126:8080/SOA/SMP/GetSalesInfo"></jaxws:client> -->

	<!-- 生成银行转账数据服务 -->
	<jaxws:endpoint id="BuildBankTransService" serviceName="soa:BuildBankTransService"
		implementor="#buildBankTransService" address="/${ws.protocol.soap.path}/buildBankTransService" />
	<!-- 暂停送划登记提交服务 -->
	<jaxws:endpoint id="SubmitPauseTransInfoService"
		serviceName="soa:SubmitPauseTransInfoService" implementor="#submitPauseTransInfoService"
		address="/${ws.protocol.soap.path}/submitPauseTransInfoService">
	</jaxws:endpoint>
	<!-- 不转账数据查询服务 -->
	<jaxws:endpoint id="NotTransInfoService" serviceName="soa:NotTransInfoService"
		implementor="#notTransInfoService" address="/${ws.protocol.soap.path}/notTransInfoService">
	</jaxws:endpoint>
	<!-- 待转账数据查询服务 -->
	<jaxws:endpoint id="BankTransingInfoService"
		serviceName="soa:BankTransingInfoService" implementor="#bankTransingInfoService"
		address="/${ws.protocol.soap.path}/bankTransingInfoService">
	</jaxws:endpoint>
	<!-- 银行转账操作明细查询服务 -->
	<jaxws:endpoint id="OperateBankTransInfoDetailsService"
		serviceName="soa:OperateBankTransInfoDetailsService" implementor="#operateBankTransInfoDetailsService"
		address="/${ws.protocol.soap.path}/operateBankTransInfoDetailsService">
	</jaxws:endpoint>

	<!-- 银行转账操作查询 -->
	<jaxws:endpoint id="QueryOperateBankTransInfo"
		serviceName="soa:QueryOperateBankTransInfo" implementor="#queryOperateBankTransInfo"
		address="/${ws.protocol.soap.path}/queryOperateBankTransInfo" />

	<!--撤销暂停送划登记提交 -->
	<jaxws:endpoint id="RevokedPauseTransService"
		serviceName="soa:RevokedPauseTransService" implementor="#revokedPauseTransService"
		address="/${ws.protocol.soap.path}/revokedPauseTransService">
	</jaxws:endpoint>
	<!--待转账数据删除接口 -->
	<jaxws:endpoint id="DeleteBankTransService" serviceName="soa:DeleteBankTransService"
		implementor="#deleteBankTransService" address="/${ws.protocol.soap.path}/deleteBankTransService">
	</jaxws:endpoint>

	<!-- 发布soapService 抽取银行转账数据 -->
	<jaxws:endpoint id="ExtractBankTransService"
		serviceName="soa:ExtractBankTransService" implementor="#extractBankTransService"
		address="/${ws.protocol.soap.path}/extractBankTransService">
		<jaxws:dataBinding>
			<bean id="customCxfDataBinding" class="org.apache.cxf.jaxb.JAXBDataBinding">
				<property name="namespaceMap">
					<map>
						<entry key="http://www.e-chinalife.com/soa/" value="ns1" />
					</map>
				</property>
			</bean>
		</jaxws:dataBinding>
	</jaxws:endpoint>
	<!-- 发布soapService 处理银行转账结果数据 -->
	<jaxws:endpoint id="ReceiveTransResultService"
		serviceName="soa:ReceiveTransResultService" implementor="#receiveTransResultService"
		address="/${ws.protocol.soap.path}/receiveTransResultService">
		<jaxws:dataBinding>
			<bean id="resultDataBinding" class="org.apache.cxf.jaxb.JAXBDataBinding">
				<property name="namespaceMap">
					<map>
						<entry key="http://www.e-chinalife.com/soa/" value="ns1" />
					</map>
				</property>
			</bean>
		</jaxws:dataBinding>
	</jaxws:endpoint>

	<!-- 暂停送划查询服务 -->
	<jaxws:endpoint id="QueryPauseTransInfoService"
		serviceName="soa:QueryPauseTransInfoService" implementor="#queryPauseTransInfoService"
		address="/${ws.protocol.soap.path}/queryPauseTransInfoService">

	</jaxws:endpoint>

	<!-- 调用任务管理平台的DASC服务 -->
	<dasc:client id="taskProcessServiceDascClient"
		interface="com.newcore.tsms.service.api.task.TaskProcessService" qos="2"
		retry="10" persistent="false" />
	<!-- 人工审核服务 -->
	<dasc:service id="taskManApproveAppliServiceDasc"
		interface="com.newcore.orbps.service.api.TaskManApproveAppliService"
		impl-ref="taskManApproveAppliService" qos="2" retry="2" persistent="false" />
	<!-- 清单导入服务 -->
	<dasc:service id="taskIpsnImportServiceDasc"
		interface="com.newcore.orbps.service.api.TaskIpsnImportService"
		impl-ref="taskIpsnImportService" qos="2" retry="2" persistent="false" />
	<!-- 被保人开户服务 -->
	<dasc:service id="taskSetEvCustServiceDasc"
		interface="com.newcore.orbps.service.api.TaskSetEvCustService"
		impl-ref="taskSetEvCustService" qos="2" retry="2" persistent="false" />
	<!-- 生成应收服务 -->
	<dasc:service id="dascTaskProcPlnmioServiceDasc"
		interface="com.newcore.orbps.service.api.TaskProcPlnmioService"
		impl-ref="taskProcPlnmioService" qos="2" retry="10" persistent="false" />
	<!-- 收费检查服务 -->
	<dasc:service id="dascTaskMoneyinCheckServiceDasc"
		interface="com.newcore.orbps.service.api.TaskMoneyinCheckService"
		impl-ref="taskMoneyinCheckService" qos="2" retry="10" persistent="false" />
	<!-- 保单生效服务 -->
	<dasc:service id="dascTaskCntrInForceServiceDasc"
		interface="com.newcore.orbps.service.api.TaskCntrInForceService"
		impl-ref="taskCntrInForceService" qos="2" retry="10" persistent="false" />
	<!-- 打印服务 -->
	<dasc:service id="dascTaskCntrPrintServiceDasc"
		interface="com.newcore.orbps.service.api.TaskCntrPrintService"
		impl-ref="taskCntrPrintService" qos="2" retry="10" persistent="false" />
	<!-- 回执核销 -->
	<dasc:service id="dascTaskReceiptVerificaServiceDasc"
		interface="com.newcore.orbps.service.api.TaskReceiptVerificaService"
		impl-ref="taskReceiptVerificaService" qos="2" retry="10" persistent="false" />

	<!--团单接口 -->
	<jaxrs:server beanNames="insurApplServices"
		address="/${ws.protocol.rest.path}/insurApplServices">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!--共保服务接口 -->
	<jaxrs:server beanNames="comAgrService"
		address="/${ws.protocol.rest.path}/comAgrService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!--投保单号申请接口 -->
	<jaxrs:server beanNames="insurApplNoApplyService"
		address="/${ws.protocol.rest.path}/insurApplNoApplyService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<jaxrs:server beanNames="cgInsuredTreatResult"
		address="/${ws.protocol.rest.path}/cgInsuredTreatResult">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!-- 核保平台团体信息接口 -->
	<jaxrs:server beanNames="grpBasicInfoForUdwService"
		address="/${ws.protocol.rest.path}/grpBasicInfoForUdwService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 保单回退 -->
	<jaxrs:server beanNames="insurApplBackService"
		address="/${ws.protocol.rest.path}/insurApplBackService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 团单基本信息导入接口 -->
	<jaxrs:server beanNames="grpInsurApplServer"
		address="/${ws.protocol.rest.path}/grpInsurApplServer">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 规则添加接口 -->
	<jaxrs:server beanNames="ApprovalRuleConfigService"
		address="/${ws.protocol.rest.path}/ApprovalRuleConfigService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 清单导入请求接口 -->
	<jaxrs:server beanNames="ipsnImportAppliService"
		address="/${ws.protocol.rest.path}/ipsnImportAppliService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 清单导入结果查询接口 -->
	<jaxrs:server beanNames="ipsnImportResultService"
		address="/${ws.protocol.rest.path}/ipsnImportResultService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 客户号查询接口 -->
	<jaxrs:server beanNames="custNoSearchSrevice"
		address="/${ws.protocol.rest.path}/custNoSearchSrevice">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 发布缓存管理服务 -->
	<jaxrs:server beanNames="cacheManager" address="/${ws.protocol.rest.path}/cache">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!-- 发布投保单生成服务 -->
	<jaxrs:server beanNames="createGrpIsurApplService"
		address="/${ws.protocol.rest.path}/createGrpIsurApplService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!--核保结论保存 -->
	<jaxrs:server beanNames="udwResultService"
		address="/${ws.protocol.rest.path}/udwResultService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- -->
	<jaxrs:server beanNames="contractQueryService"
		address="/${ws.protocol.rest.path}/contractQueryService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 档案请单补导入监控服务 -->
	<jaxrs:server beanNames="archiveListMonitor"
		address="/${ws.protocol.rest.path}/archiveListMonitor">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- dasn服务发布 -->
	<!-- 发布清单导入接口 -->

	<!-- 回执核销服务 -->
	<jaxrs:server beanNames="orbpsInsurApplCvTaskServer"
		address="/${ws.protocol.rest.path}/orbpsInsurApplCvTaskServer">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 回执核销服务 -->
	<jaxrs:server beanNames="queryInsurApplCvTaskServer"
		address="/${ws.protocol.rest.path}/queryInsurApplCvTaskServer">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 保单操作轨迹查询 -->
	<jaxrs:server beanNames="queryOrbpsGrpInsurApplOperTraceService"
		address="/${ws.protocol.rest.path}/queryOrbpsGrpInsurApplOperTraceService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>


	<!-- 保单进度查询服务 -->
	<jaxrs:server beanNames="queryGrpInsurApplStateService"
		address="/${ws.protocol.rest.path}/queryGrpInsurApplStateService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!-- 要约撤销 -->
	<jaxrs:server beanNames="applStateUndoService"
		address="/${ws.protocol.rest.path}/applStateUndoService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 人工审批 -->
	<jaxrs:server beanNames="manualApprovalService"
		address="/${ws.protocol.rest.path}/manualApprovalService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 受理服务 -->
	<jaxrs:server beanNames="insuredAcceptService"
		address="/${ws.protocol.rest.path}/insuredAcceptService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 清单导入状态查询服务 -->
	<jaxrs:server beanNames="ipsnImportStateService"
		address="/${ws.protocol.rest.path}/ipsnImportStateService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 被保险人增、批量增、查、改 -->
	<jaxrs:server beanNames="grpInsuredService"
		address="/${ws.protocol.rest.path}/grpInsuredService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 订正（团单或清汇、被保人） -->
	<jaxrs:server beanNames="InsurApplContentRevise"
		address="/${ws.protocol.rest.path}/InsurApplContentRevise">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- orbps清单导入请求 -->
	<jaxrs:server beanNames="ipsnImpAppliForInterService"
		address="/${ws.protocol.rest.path}/ipsnImpAppliForInterService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 团单清汇文件导出 -->
	<jaxrs:server beanNames="insuredFileCreatService"
		address="/${ws.protocol.rest.path}/insuredFileCreatService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<!-- 公共查询服务 -->
	<jaxrs:server beanNames="commonQueryService"
		address="/${ws.protocol.rest.path}/commonQueryService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	<jaxrs:server beanNames="insurApplLandInfromService"
		address="/${ws.protocol.rest.path}/insurApplLandInfromService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>



	<!-- 根据投保单号查询该保单下面收费组信息 -->
	<jaxrs:server beanNames="queryipsnPayGrpInfoByApplNo"
		address="/${ws.protocol.rest.path}/queryipsnPayGrpInfoByApplNo">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>


	<!-- 根据投保单号查询该保单下面账户信息 -->
	<jaxrs:server beanNames="queryAccInfoByApplNo"
		address="/${ws.protocol.rest.path}/queryAccInfoByApplNo">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>


	<!--暂收费支取 -->
	<jaxrs:server beanNames="procEarnestPayPlnmioRecInfo"
		address="/${ws.protocol.rest.path}/procEarnestPayPlnmioRecInfo">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!--险种性质查询 -->
	<jaxrs:server beanNames="polNatureService"
		address="/${ws.protocol.rest.path}/polNatureService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!--保单是否生效查询 -->
	<jaxrs:server beanNames="insurApplOperUtilsService"
		address="/${ws.protocol.rest.path}/insurApplOperUtilsService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!--影像资料审核流程服务 -->
	<jaxrs:server beanNames="taskImgAuditService"
		address="/${ws.protocol.rest.path}/taskImgAuditService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<!--sms短信发送时间记录服务 -->
	<jaxrs:server beanNames="smsTimeInformService"
		address="/${ws.protocol.rest.path}/smsTimeInformService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
	
	<!-- 保单辅助打印数据落地反馈服务  -->
	<jaxrs:server beanNames="oldPrintCallBackService"
		address="/${ws.protocol.rest.path}/oldPrintCallBackService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>

	<!-- 影像审核服务  -->
	<jaxrs:server beanNames="imgApprovalService"
		address="/${ws.protocol.rest.path}/imgApprovalService">
		<jaxrs:providers>
			<bean class="com.halo.core.fastjson.support.FastJsonProvider" />
		</jaxrs:providers>
	</jaxrs:server>
</beans>
